<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Sign up</title>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;800&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<section class="wrapper">
    <div class="content">
        <div class="content__container">
            <h1 class="content__title">Sign up</h1>
            <p class="content__description">Already have an account? <a href="#">Log in</a></p>

            <form class="content__form" action="">

                <label class="form__field">
                    <span class="form__label">Name</span>
                    <input class="form__input" id="name" type="text" placeholder="Name"/>
                </label>

                <label class="form__field">
                    <span class="form__label">Username</span>
                    <input class="form__input" id="username" type="text" placeholder="Username">
                </label>

                <label class="form__field">
                    <span class="form__label">Email</span>
                    <input class="form__input" id="email" type="text" placeholder="Enter your email">
                </label>

                <button class="form__button" id="register" type="submit">Create account</button>

                <p class="form__footer">
                    By clicking 'Continue', you acknowledge that you have read and accept the
                    <a href="#">Terms of Service</a> and
                    <a href="#">Privacy Policy</a>
                </p>
            </form>

            <script src="/javascripts/registration.js"></script>
        </div>
    </div>
</section>

</body>
</html>

