<div class="content__container">
    <img class="content__header-icon" src="/images/success.png" alt="" />

    <h1 class="content__title">{{title}}</h1>
    <p class="content__description">You have successfully registered for FAST PROMOTION</p>

    <p class="content__description content__description--mark">We have sent you an email with a password to log into your account</p>

    <a class="form__button" href="/">Login to your account</a>
</div>
